* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: aqua;
}

.box{
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}
.container {
  display: grid;
  /* grid-auto-flow: column; */
  /* grid-template-columns: 50px 50px 150px 50px 50px 50px; */
  grid-template-columns:
  repeat(4, 2fr 1fr)
}