body{
    font-size:1.5rem;
}

.column{
    /* column-count: 2;
    column-width: 200px; */
    columns: 3 250px;
    column-rule: 4px  solid #b73d3d;
    /* column-gap: 3rem; */
}

.column p{
    margin-top: 0;
}

.column h2{
    background-color: mediumspringgreen;
    color:  white;
    padding: 3rem;
    margin: 0;
    break-before:column;
}

.column .quote {
    color: #b73d3d;
    text-align: center;
    font-size: 3rem;
    column-span: all;
}

.nowrap{
    white-space: nowrap;i
}